.Status {
  text-align: center;
  margin: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}

.box{
  border-radius: 5px;
  padding: 5px;
  color: #f8f3f0;
}

.box1{
  background-color: #e2c454;
}

.box2 {
  background-color: #d3a629;
}

.box3 {
  background-color: #b57400;
}

.box4 {
  background-color: #964100;
}

.box5 {
  background-color: #612910;
}
